<div id="title">
    <h1>Minha Conta</h1>
</div>
<div id="infoDiv">
    <div id="namePic">
        <img src="https://cdn-icons-png.flaticon.com/512/5987/5987462.png" alt="Foto do Usuário">
        <h3>Lucas</h3>
        <button>Alterar</button>
    </div>
    <div id="userInfo">
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <td>
                        <input type="text" value="Lucas">
                    </td>
                </tr>
                <tr>
                    <th>Sobrenome</th>
                    <td>
                        <input type="text" value="Da Silva Gomes">
                    </td>
                </tr>
                <tr>
                    <th>CPF</th>
                    <td>
                        <input type="text" value="482.573.578-98" readonly>
                    </td>
                </tr>
                <tr>
                    <th>E-Mail</th>
                    <td>
                        <input type="email" value="lucasd476@gmail.com">
                    </td>
                </tr>
                <tr>
                    <th>Sexo</th>
                    <td>
                        <input type="text" value="Masculino">
                    </td>
                </tr>
                <tr>
                    <th>Membro desde</th>
                    <td>
                        <input type="datetime" value="24/01/2022" readonly>
                    </td>
                </tr>
            </thead>
        </table>
    </div>
</div>