* {
    font-family: 'Poppins', sans-serif; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#cadSection > h1 {
    text-align: center;
    margin-top: 2em;
    color: blue;
}

#cadSection {
    margin-top: 4em;
    background: none;
    height: 70vh;
    width: 55vw;
    margin-left: 20rem;
    margin-right: 10rem;
    text-align: center;
    background-color: rgb(245, 245, 245);
}

#geral table {
    width: 100%;
    text-align: center;
    padding-top: 1em;
}

#cadSection th {
    padding-top: 1rem;
    padding-bottom: 2.5rem;
    padding-left: 5em;
    color: rgb(111, 111, 111);
}

#cadSection input {
    color: black;
    background: none;
    font-size: 20px;
    text-align: center;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid blue 1px;
    font-family: 'Poppins', sans-serif;     
}

#cadSection textarea:focus, input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

#cadSection button {
    margin-top: 1px;
    width: 20%;
    height: 3em;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif; 
    color: blue;
    border: solid blue 1px;
}

#cadSection button:hover {
    cursor: pointer;
    background-color: blue;
    color: white;
    transition: 1.4s;
}

