<div id="geral">
    <h1>Olá, venha fazer parte da Hacky Store</h1>
    <div id="cadSection">
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <td>
                        <input type="text" placeholder="João">
                    </td>
                </tr>
                <tr>
                    <th>Sobrenome</th>
                    <td>
                        <input type="text" placeholder="Gomes Pereira">
                    </td>
                </tr>
                <tr>
                    <th>E-mail</th>
                    <td>
                        <input type="email" placeholder="joaogomespereira@gmail.com">
                    </td>
                </tr>
                <tr>
                    <th>CPF</th>
                    <td>
                        <input type="text" placeholder="465.914.325-65">
                    </td>
                </tr>
                <tr>
                    <th>Sexo</th>
                    <td>
                        <input type="radio" name="opcaoSexo">Masculino
                        <input type="radio" name="opcaoSexo">Feminino
                    </td>
                </tr>
            </thead>
        </table>
        <button>Enviar</button>
    </div>
</div>
