<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap" rel="stylesheet">


<div id="divPrincipal">
    <div id="totalCarrinho">
        <h2>Total: R{{ totalCarrinho | currency }}</h2>
    </div>  
    <h1>Carrinho</h1>
    <div *ngFor="let produto of items" class="produtos">
        <div class="produto-card">
            <img src="{{produto.image}}" class="imagemProduto">
           <p><strong>Produto</strong> <br>{{produto.name}}</p>
           <p><strong>Preço Unitário</strong> <br>R${{produto.price}}</p>
           <p>
            <strong>Quantidade <br>
                <div id="divQuantidade">
                    <button class="botaoQuantidade" (click)="diminuirQuantidadeProduto(produto.id)">-</button>
                        <p>{{produto.quanty}}</p>
                    <button class="botaoQuantidade" (click)="aumentarQuantidadeProduto(produto.id)">+</button>
                </div>
            </strong>
            </p>
            <p>
                <strong>Total <br>R{{produto.price * produto.quanty | currency}}</strong>
            </p>
                <button id="excluirButton" (click)="deletarProduto(produto.id)"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAACXBIWXMAAAsTAAALEwEAmpwYAAAA9klEQVR4nO2aSwrCMBRFz8hFWbfnb1sWxAW4gDxo3YaSUMGBz1r6SdB7IJOQNr19OZMkIH6UK6wMjgY3g/unFqANsI/PUBoGh74AbwLtKI0Abfdx6y/GVs/KUBrW/eW5xi9G0UEC1EPX/VwtQP0rQU6jK5NrPdvU8yrISEwVcfirpRXgYnAe2589iDdmaP8rCuKhiqCllZAjHnIEOZKQIx5yBDmSkCMecgQ5kpAjHnIEOZKQIx5yBDmSdaexfneGMbT/FW1ie/zVJvYcmIL0XwaoWAiDTTdnM9lL472RjKe528mCxMsvMcyzMgsFaGKIIi/eCPp5AHH7h2o564NrAAAAAElFTkSuQmCC"></button>
        </div>
    </div>
</div>
